


body {
  background: blanchedalmond;
  margin:2em;
  
}



.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  
}    
            


.a{
  text-align: center;
background-color:rgb(219, 178, 125) ;
margin:10px;
border: 10px;
font-size: 2em;
min-height: 1;
width:100%;
flex-grow:1;
flex-direction: row;

}

.b{
  text-align: center;
  background-color:rgb(204, 162, 107) ;
  margin:10px;
  border: 10px;
  font-size: 2em;
  min-height: 4;
  align-items: center;
 
  flex-grow: 4;
}

.c{
  text-align: center;
  background-color:rgb(205, 157, 94) ;
  margin:10px;
  border: 10px;
  font-size: 2em;
min-height: 1;
align-items: center;

flex-grow: 1;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }             
}          
